.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    visibility 0.4s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px 32px;
  position: relative;
}

.modal__title {
  max-height: 40px;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  padding: 0 10px;
  color: #212121;
  display: flex;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  height: 100%;
  width: 100%;
  margin-top: 32px;
}

.modal__name {
  position: relative;
  margin-top: 8px;
}

.modal__label {
  color: #212121;
}

.modal__input {
  display: block;
  margin: 8px 0 32px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px 16px;
  color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  opacity: 0.3;
}

.modal__input:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__caption {
  position: relative;
  color: #fff;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  line-height: 120%;
  font-size: 20px;
  width: fit-content;
  background-color: rgba(33, 33, 33, 1);
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

.modal__close-btn {
  position: absolute;
  top: 36px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url("../images/Property 1=Default.svg") center /
    contain no-repeat;
  cursor: pointer;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  opacity: 1;
  border: none;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -48px;
  background-image: url("../Close\ Icon.svg");
  opacity: 1;
}

.modal__close_type_preview:hover {
  opacity: 0.4;
}

.modal__image-container {
  position: relative;
}

.modal_type_preview {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 730px) {
  .modal__container {
    opacity: 1;
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
    justify-content: space-between;
    padding: 0;
    max-width: 106px;
  }
  .modal__form {
    min-height: 248px;
    width: 100%;
  }
  .modal__label {
    min-height: 74px;
    margin: 1px;
  }
  .modal__image {
    max-width: none;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__submit-btn {
    width: 100%;
    padding: 0;
    max-width: none;
    height: 52px;
  }
  .modal__input {
    min-height: 48px;
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__close-btn_type_preview {
    top: 0;
    right: -48px;
    position: absolute;
  }
}

@media screen and (max-width: 630px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
