.post {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.post__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0 auto 12px;
  border-radius: 8px;
  cursor: pointer;
}

.post__image:hover {
  opacity: 0.9;
}

.post__title {
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__like-btn {
  background-image: url("../images/Union.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  margin: 0;
}

.post__like-btn:hover {
  opacity: 1;
}

.post__like-btn_active {
  background: transparent url("../images/Unionasdf.svg");
  opacity: 1;
}

.post__delete-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent url("../images/delete.svg");
  cursor: pointer;
}

.post__delete-btn:hover {
  background: transparent url("../images/State=Hover.png");
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .post__image {
    height: 288px;
    width: 288px;
  }

  .post__title {
    max-width: 242px;
    font-size: 16px;
  }
}
